# Compiled Output
lib

# Dependencies
.yarn/unplugged
.yarn/build-state.yml
node_modules
.pnp.js

# Test and Code Coverage
coverage

# Logs
*.log*

# Miscellaneous
.all-contributorsrc
cache.json
invalid.json
